html{

}
body {
  padding-top: 20px;
  padding-bottom: 40px;
  background:url("../img/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
  width: 100%;
  padding-top:1em;
  padding-bottom:3em;
  background-image:url("../img/header.png");
}

footer{
  color:white;
  background-image:url("../img/footer.png");
  margin-top: 10em;
  padding:3em 1em 2em 1em;
}


#banner{
  width:75%;
  display:block;
  margin: auto;
  margin: 0 auto 4.2em auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

#main_menu > li{
  display:inline;
}

#main_menu a{
  background:gray;
  color:white;
  font-weight: bold;
  font-size:150%;
  text-decoration: none;
  padding:1.5em 3em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 4px 4px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 1px 0px rgba(0,0,0,0.75);
}



#main_menu a:active, #main_menu a:hover{
  background: rgb(229, 231, 177);
  color:black;
}

#main_menu a.current{
  background:#ACC4D0;
  color:#000000;
}

/*Page Container *******************/

.container-narrow {
  margin: 0 auto;
  max-width: 1000px;
  background-image:url("../img/background2.png");
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
.container-narrow > div {
  width:95%;
  padding:1em;
  margin:0 auto;
  background:white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

/*Page Container End*****************/

/*Index Content********/

.jumbotron {
  margin: 60px 0;
  text-align: center;
  padding:1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
.jumbotron > p{
  padding: 1em;
}

#regions{
  text-align: center;
}

#regions ul{
  list-style-type: none;
  font-size: 160%;
}

#regions > ul > li{
  margin: 10px 0;
}

#services{
  text-align: center;
}

#service_info{
  text-align: center;
  max-width:500px;
  list-style-type: none;
  margin: 0 auto 4em auto;
}

#service_info > ul{
  text-align: left;  
}

#service_type{
  text-align: center;
}

#service_type a{
  background: rgb(75, 75, 90);
  color:white;
  margin: .5em 1em;
  padding:1em;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);

}

#service_type > a:hover{
  background:#222222 !important;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

#service_view{
  margin-top:4.5em;
  width:100%;
  text-align: center
}

#service_view > div{
  width:80%;
  margin:0 auto;  
}

#perdiv_view{
  display:none;
}

#perdiv_view > div{
  width:40%;
}

#perwin_view{

  display:none;
}

#unranked_view{
  display:none;
}

#current_div{
  float:left;
}

#desired_div{
  float:right;
}

#perdiv_price{
  clear:both;
}

/*Index Content End*********/

/*Contact us Start *********/
.skype{
  width:5em;
}

#skype_contact{
  text-align: center;
}

#skype_contact ul{
  list-style: none;
}

#skype_contact ul > li > *{
  display:inline;
}

#skype_contact ul > li > a{
  margin-right: 1em;
}

#email_contact{
  text
  padding:2em;
}



/*Contact us End ***********/

@media (max-width: 550px) {
  #service_type > a{
    display:block;
  }

  header *{
  display:block;
  margin-bottom:.6em;
  margin-left:0;
  }
  header{
    padding-bottom:2em;
  }

  #banner{
    width: 100%;
  }
#perdiv_view *{
  width:100%;
  display:block;
}

#skype_contact ul >li:not(:last-child) {
  border-bottom:1px solid;
  padding:1em 0;
}

#skype_contact ul > li > *{
  display:block;
}

#banner{
  margin-bottom:2em;
}

#main_menu a{
  font-size: 100%;
  width:50%;
  margin: 1em auto;
}


}